---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro'
import Paragraph from '../components/Paragraph.astro'
import BloglistItem from '../components/BloglistItem.astro'
import NormalLink from '../components/NormalLink.astro'
import Greeting from '../components/Greeting.jsx'
import { type Configuration, type Result, run } from "webring";

const results = await run({
  sources: [
    {
      url: "https://blog.ahwx.org/rss.xml",
      title: "blog.ahwx.org",
    },
    {
      url: "https://blog.ahwx.org/rss.xml",
      title: "blog.ahwx.org",
    },
    {
      url: "https://blog.ahwx.org/rss.xml",
      title: "blog.ahwx.org",
    },
  ],
  number: 9,
});
---

<Layout title="liv - balcony" description="liv to your fullest">
<main>
    <div class="">
      <Heading><Greeting client:load />!</Heading>
      <Paragraph>Imagine liv.town being a neat house on top of a mountain, see this page as the balcony, this is a neat littly place where you can view over the valley. Each house in the valley is it's own little blog post from blogs I follow. Should update automatically.</Paragraph>
      <Paragraph><center>
        <ul>
          {
            results.map((post) => (
              <BloglistItem href={post.url} title={post.title} description={post.date.toLocaleString()} />
            ))
          }
        </ul>
      </center></Paragraph>
    </div>
    <aside transition:name="main-page">
</main>
</Layout>
