---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro'
import Paragraph from '../components/Paragraph.astro'
import Greeting from '../components/Greeting.jsx'
---

<Layout title="liv - garden" description="liv to your fullest">
<main>
    <div class="">
      <Heading><Greeting client:load />!</Heading>
      <center><Paragraph>Gallery of images that I've shot</Paragraph></center>
    </div>
    <aside transition:name="main-page">
</main>
</Layout>
