---
import Layout from '../layouts/Layout.astro';
import Heading from '../components/Heading.astro'
import Paragraph from '../components/Paragraph.astro'
import NormalLink from '../components/NormalLink.astro'
import Greeting from '../components/Greeting.jsx'
---

<Layout title="Terrace" description="liv to your fullest">
<main>
    <div class="">
      <Heading><Greeting client:load />!</Heading>
      <Paragraph>there should be a guestbook here type beat</Paragraph>
    </div>
    <aside transition:name="main-page">
</main>
</Layout>
