---
import HeaderLink from '../components/HeaderLink.astro'
import LogoIcon from '../components/Logo.tsx'
---

<div class="mx-auto max-w-4xl backdrop-blur-xl shadow-2xl p-4 mt-8 rounded-xl align-center"> <!-- Should make it so that it's fully transparent on mobile, but a floating island on desktop. Doable with TailwindCSS classes. -->
    <nav class="flex items-center gap-3 text-base">
      <LogoIcon />
      <HeaderLink href="/">Hometown</HeaderLink>
      <HeaderLink href="/balcony">Balcony</HeaderLink>
      <HeaderLink href="/garden">Garden</HeaderLink>
      <div class="flex-1"></div>
      <HeaderLink href="/contact">Contact</HeaderLink>
    </nav>
</div>
