---
import NormalLink from '../components/NormalLink.astro'
---

<div class="mx-auto w-2/3 bg-slate-300 shadow-2xl p-4 mt-8 rounded-lg align-center"> <!-- Should make it so that it's fully transparent on mobile, but a floating island on desktop. Doable with TailwindCSS classes. -->
    <img src="/logo.png" alt="handwritten 'liv' in navigation bar" />
    <NormalLink href="/">Hometown</NormalLink>
    <NormalLink href="/balcony">Balcony</NormalLink>
</div>
