---
import { ViewTransitions } from 'astro:transitions';
import Paragraph from '../components/Paragraph.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="liv - other page" description="liv to your fullest">
  <div class="">
    <br class="h-3/5">
    <Paragraph>
      <slot />
    </Paragraph>
    <br class="mb-20">
  </div>
  <aside transition:name="main-page">
  <ViewTransitions />
</Layout>
